/*პირველი პარაგრაფ ტეგის სელექტორი*/
#paragraph1 {
    color: #F00;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 0%;
}
/*დანომრილი სიის სელექტორი*/
#numberedlist {
    font-size: 16px;
    font-weight: 400;
    color: #5F5F5F;
    margin-left: 91px;
    margin-top: 18px;
    margin-bottom: 0;
}
/*img ატრიბუტის  სელექტორი*/
img {
    margin-left: 79px;
    margin-top: 18px;
    margin-bottom: 0%;

}
/*მეორე პარაგრაფ ტეგის სელექტორი*/
#paragraph2 {
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 400;
    width: 335px;
    margin-left: 10px;
    margin-top: 18px;
}
